name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-14]
        toolchain: [stable]
        include:
          - {os: ubuntu-22.04, toolchain: '1.56.0'}
          - {os: ubuntu-22.04, toolchain: beta}
          - {os: ubuntu-22.04, toolchain: nightly}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies (Linux)
        if: matrix.os == 'ubuntu-22.04'
        run: sudo apt install -y libpcsclite-dev

      - name: Setup toolchain
        run: |
          rustup install ${{ matrix.toolchain }}
          rustup default ${{ matrix.toolchain }}

      - name: Build pcsc-sys
        run: cargo build --verbose
        working-directory: pcsc-sys

      - name: Build pcsc
        run: cargo build --verbose
        working-directory: pcsc

      - name: Test pcsc
        run: cargo test --verbose
        working-directory: pcsc

      - name: Lint
        if: matrix.toolchain == 'stable'
        run: cargo clippy --verbose

      - name: Format
        if: matrix.toolchain == 'stable'
        run: cargo fmt --all -- --check
